.oauthmain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 9px;
}

.line {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  gap: 12px;
  color: #5c5c5c5c;
}

.line::before {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background: #5c5c5c5c;
}

.line::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background: #5c5c5c5c;
}

.providers {
  display: flex;

  margin-top: 10px;
  width: 100%;
  gap: 5px;
}

.providerContainer {
  width: 100%;
  border-radius: 89px;
  overflow: hidden;
  border-radius: 89px;
}
/* 
.providerContainer:first-of-type {
  border-radius: 89px 6px 6px 89px;
}

.providerContainer:last-of-type {
  border-radius: 6px 89px 89px 6px;
} */

.provider {
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  letter-spacing: -0.7px;
  font-weight: 700;
  position: relative;
  transition: 0.2s all ease;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;

  background-color: #0d6dfddb;
  color: #fff;
}

.provider:hover {
  background-color: #0b57c9db;
}

.providerIcon {
  position: relative;
  background: #fff;
  border-radius: 50%;
  padding: 2px;
}
